<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container" style="margin-top:5%">
        <div class="row">
            <div class="col"></div>
            <div id="app" class="col">
                <div class="text-center">
                    <h2>新闻发布系统</h2>
                    <h4 style="color:red">{{ message }}</h4>
                </div>

                <form class="form-group" action="#">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">原密码</span>
                        </div>
                        <input type="text" class="form-control" name="user_password" v-model="user_password"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">新密码</span>
                        </div>
                        <input type="text" class="form-control" name="user_password_new" v-model="user_password_new"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">确认密码</span>
                        </div>
                        <input type="text" class="form-control" name="user_password_new_confirm" v-model="user_password_new_confirm"/>
                    </div>
                    <div class="btn-group row">
                        <div class="col">
                            <input type="reset" value="重置" class="btn">
                        </div>
                        <div class="col">
                            <input type="button" value="确认修改" class="btn btn-primary" @click="edit_password">
                        </div>
                        <div class="col">
                            <input type="button" value="返回主页" class="btn btn-primary" @click="cancel">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascript/myFunction.js"></script>
<script type="text/javascript">
var vm = new Vue ({
    el: "#app",
    created: function () {
        auth('../auth', './login.html');
        axios({
            method: 'GET',
            url: '../auth'
        })
        .then(function (res) {
            // console.log(res);
            if (res.data.auth == 'none') {
                window.location.href = location_url;
            } else if (res.data.auth == 'pass') {
                vm.auth_user_name = res.data.user_name;
            }
        })
        .catch(function (err) {
            console.log(err);
        })
    },
    data() {
        return {
            user_password: '',
            user_password_new: '',
            user_password_new_confirm: '',
            message: '',
            auth_user_name: ''
        }
    },
    methods: {
        edit_password() {
            axios({
                method: 'PUT',
                url: '../account',
                data: {
                    //TODO:将用户名使用认证获取填充
                    auth_user_name: vm.auth_user_name,
                    password: vm.user_password_new,
                    auth_user_password: vm.user_password
                }
            })
            .then(function (res) {
                vm.message = '密码修改成功';
                setTimeout(() => {
                    window.location.href = './home.html';
                }, 3000);
            })
            .catch(function (err) {
                console.log(err);
            });
        },
        cancel () {
            window.location.href = "./home.html";
        }
    },
    watch: {
        user_password_new_confirm(newValue) {
            if (newValue !== vm.user_password_new) {
                vm.message = '两次密码不一致';
            } else {
                vm.message = '';
            }
        }
    },
});

</script>

</html>